<% layout('layouts/boilerplate') %>
  <div class="container d-flex justify-content-center align-items-center my-5">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <div class="card shadow">
          <img
            src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
            alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form action="/login" method="POST" class="needs-validation" novalidate>
              <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username" autofocus required />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" required />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <button class="btn btn-success btn-block">Login</button>
            </form>
            <!-- <div class="mt-5 d-flex justify-content-center">
              <p class="font-weight-light text-black-50">Or login with</p> 
            </div> -->
            <div class="my-1">
              <a href="/auth/facebook" class="fb btn-social">
                <i class="fa-brands fa-facebook-f"></i> Login with Facebook
              </a>
              <a href="/auth/google" class="google btn-social">
                <i class="fa-brands fa-google"></i> Login with Google+
              </a>
            </div>
            <section class="d-flex justify-content-between mt-5">
              <div>
                <a class="font-weight-light text-secondary" href="/forgot">Forgot Password?</a>
              </div>
              <div>
                <a class="font-weight-light text-secondary" href="/register">Not a member? Sign Up!</a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>